
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  scroll-behavior: smooth;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
}

:root {
--font: 'Montserrat', sans-serif;
}

.sidebar {
position: fixed;
background: rgb(255, 255, 255);
border-right: 1px solid black;
width: 150px;
height: 100%;
top: 0;
left: 0;
z-index: 1;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
padding: 10px 0;
}

.sidebar li {
  transform: rotate(-90deg);
  max-width: 380px;
  width: 100%;
}

.sidebar li a {
  font-family: var(--font);
  font-weight: 700;
  font-size: 1.3rem;
  color: #000;
  &:visited {
    color: #000;
  }
}

.home {
  display: flex;
  flex-direction: column;
  gap: 65px;
  padding: 4rem;
}

.home .contentphototext {
  display: flex;
  justify-content: space-between;
}

.home .contentphototext .namework {
  text-align: right;
  display: flex;
  flex-direction: column;
}

.home .contentphototext .namework h1 {
  font-family: var(--font);
  font-size: 7.5rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}
.home .contentphototext .namework h1 span {
  margin-right: 10rem;
}

.home .contentphototext .namework .subnamework {
  display: flex;
}

.home .contentphototext .namework .subnamework .work {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.home .contentphototext .namework .subnamework .work p {
  font-family: var(--font);
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
}

.home .contentphototext .photographer {
  border-radius: 50%;
}

.home .contentimgs {
  display: flex;
  overflow-x: scroll;
}

.home .contentimgs img {
  width: 500px;
}

main {
  margin-left: 150px;
}

