* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  scroll-behavior: smooth;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

html, body {
background-color: rgb(255, 255, 255);
}

footer {
  margin-top: 3rem;
  .footercontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2rem;
    font-size: .5rem;
  }
  a {
    color: #000;
    &:visited {
      color: #000;
    }
  }
}

@media (max-width: 800px) {
  footer {
    margin-top: 1rem;
  }
}

@media (max-width: 450px) {
  footer {
    .footercontainer {
      flex-direction: column;
    }
  }
}