* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
    scroll-behavior: smooth;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
  }

  html, body {
    background-color: rgb(240, 240, 240);
  }

  .jstabcontent {
    display: none;
    padding-bottom: 13rem;
  }
  
  .jstabcontent.ativo {
    display: block;
    animation: animationSection 1.4s forwards;
    overflow: hidden;
  }
  
  
  @keyframes animationSection {
    from {
      transform: translate3d(0, 100%, 0);
      opacity: 0;
    }
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }