@import '../abstract/variables';

.container {
    width: 100%;
    min-height: 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 10px;
    .image-container {
      height: 600px;
      width: 100%;
      overflow: hidden;
      &:nth-child(even) {
        height: 500px;
      }
      .image {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        animation: scale-out .5s ease-out 1 forwards;
        &.image-one {
            background-image: url(../img/photo1.jpg);
            animation: animationPhotoLeft 1.5s forwards;
        }
        &.image-two {
            background-image: url(../img/photo2.jpg);
            animation: animationPhotoLeft 1s forwards;
        }
        &.image-three {
            background-image: url(../img/photo3.jpg);
            animation: animationPhotoMiddle 1s forwards;
        }
        &.image-four {
          background-image: url(../img/photo4.jpg);
          animation: animationPhotoRight 1.5s;
        }
        &.image-five {
            background-image: url(../img/photo5.jpg);
            animation: animationPhotoRight 1s;
          }
      }
    }
}

  @media (max-width: 1024px) {
    .container {
      min-height: 200px;
      flex-direction: column;
      padding: 1rem;
    }
  }