@import '../abstract/variables';

header {
    z-index: 999;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 3rem 2rem;
    .headersize {
        max-width: 1300px;
        width: 100%;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            font-size: 1rem;
            cursor: pointer;
            font-weight: 600;
        }
        .menu {
            font-size: 1rem;
            cursor: pointer;
            font-weight: 600;
            color: #000;
            &:active {
                color: #000;
            }
            span {
                margin-left: 15px;
            }
        } 
    }
    
}

.headercontainer.active {
    animation: ShowingBg .7s ease-in-out; 
    background-color: #000;
    z-index: 777;
    h1 {
        color: white;
        transition: .3s;
    }
    a {
        color: white;
        transition: .3s;
    }
}

@media (max-width: 1900px) {
   .headercontainer.active {
    padding: 3rem 1.5rem;
   }
}