@import '../abstract/variables';

header {
    display: none;
    .danielheader {
        width: 50px;
        border-radius: 100%;
    }
    .menucontactheader {
        display: flex;
        align-items: center;
        .hamburger {
        display: none;
        cursor: pointer;
        @media (max-width: 768px) {
            display: block; 
        }
        .bar {
          display: block;
          width: 25px;
          height: 3px;
          margin: 5px auto;
          -webkit-transition: all 0.3 ease-in-out;
          transition: all 0.3 ease-in-out;
          background-color: black;
        }
        }
    }
}

@media (max-width: 1024px) {
    header {
        display: flex;
        justify-content: space-between;
        padding: 1rem 1rem;
        .hamburger.active {
          position: absolute;
          transition: 0.4s;
          right: 16px;
          z-index: 888;
        }
        .hamburger.active .bar:nth-child(2) {
          opacity: 0;
          background-color: #ffffff;
          transition: .4s ease-in-out;
        }
        .hamburger.active .bar:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
          background-color: #ffffff;
          transition: .4s ease-in-out;
        }
        .hamburger.active .bar:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
          background-color: #ffffff;
          transition: .4s ease-in-out;
      }
    }
  }