@import '../abstract/variables';

.home {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 2rem;
      overflow: hidden;
      .contentphototext {
        display: flex;
        justify-content: space-between;
        .namework {
          text-align: right;
          display: flex;
                flex-direction: column;
                h1 {
                    font-family: $font;
                    font-size: 7.5rem;
                    font-weight: 600;
                    display: flex;
                    flex-direction: column;
                    animation: animationName 1.3s forwards;
                    @media (max-width: 450px) {
                      font-size: 2.9rem;
                    }
                    @media (max-width: 630px) {
                      font-size: 4rem;
                    }
                    span {
                      animation: animationName 2s forwards;
                    }
                  }
                  .work p {
                    font-family: $font;
                    font-size: 1rem;
                    font-weight: 500;
                    font-style: italic;
                    animation: showingDescription 2s forwards;
                  }
              }
              .photographer {
                border-radius: 50%;
              }
        }
}

@media (max-width: 1024px) {
  .home {
    padding: 3rem 1.4rem;
    .contentphototext {
      flex-direction: row;
      .namework {
        text-align: left;
        flex-direction: column;
            }
            .photographer {
              display: none;
            }
      }
  }
}