@import '../abstract/variables';

.portfolio {
    .titleportfolio {
        text-align: center;
        font-family: $font;
        font-size: 3rem;
        margin: 2rem 0rem;
        font-weight: 600;
    }
    .portfoliosize {
        max-width: 1800px;
        width: 100%;
        margin: 0 auto;

        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        align-items: center;
        figure {
            max-width: 500px;
            overflow: hidden;
            aspect-ratio: 1;
        }
    }
}