@import '../abstract/variables';

.home {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    .texthome {
      position: relative;
      h1 {
        font-size: 9rem;
        font-weight: 550;
        color: rgb(0, 0, 0);
      }
      h2 {
        position: absolute;
        font-size: 9rem;
        font-weight: 550;
        color: rgb(0, 0, 0);
        left: 10%;
      }
      .typing {
        display: flex;
        height: auto;
        color: rgb(0, 0, 0);
        font-weight: 700;
        font-size: 1rem;
        margin: 15rem 0rem 3rem 0rem;
      }
      #typing::after {
        content: '|';
        position: relative;
        right: 0;
        animation: blink 1s step-end infinite;
      }
      .deschome {
        max-width: 60ch;
      }
      .mediassocials {
        display: flex;
        align-items: center;
        gap: 15px;

        position: absolute;
        bottom: 0;
        left: 0;
        a {
          color: #000;
          font-weight: 500;
          font-style: italic;
        }
      }
    }
  .daniel {
    width: 40%;
  }
}

@keyframes blink {
  from, to {
    color: transparent
  }
  50% {
    color: black;
  }
}

@media (max-width: 450px) {
  .home {
    flex-direction: column;
    margin-top: 2rem;
    .texthome {
      position: relative;
      h1 {
        font-size: 4rem;
        font-weight: 550;
        color: rgb(0, 0, 0);
        margin-left: 2rem;
      }
      h2 {
        position: absolute;
        font-size: 4rem;
        font-weight: 550;
        color: rgb(0, 0, 0);
        left: 10%;
      }
      .typing {
        font-size: 1rem;
        margin: 8rem 0rem 1rem 1rem;
      }
      .deschome {
        text-align: justify;
        padding: 0rem 1rem 3rem 1rem;
      }
      .mediassocials {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-left: 1rem;

        position: absolute;
        bottom: 0;
        left: 0;
        a {
          color: #000;
          font-weight: 500;
          font-style: italic;
        }
      }
    }
  .daniel {
    display: none;
  }
}
}