@import '../abstract/variables';

.home {
    display: flex;
    flex-direction: column;

    margin-top: 4rem;
    .photocontainer {
        position: relative;
        .photo {
            width: 800px;
            transition: transform 0.5s ease;
        }
    }
}

@media (max-with: 450px) {
    .photo {
        width: 320px;
    }
}

