@import '../abstract/variables';

.home {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    .texthome {
        position: relative;
        .typing {
          display: flex;
          height: auto;
          color: rgb(0, 0, 0);
          font-weight: 700;
          font-size: 1rem;
          margin: 15rem 0rem 3rem 0rem;
        }
        #typing::after {
          content: '|';
          position: relative;
          right: 0;
          animation: blink 1s step-end infinite;
        }
        h1 {
            font-size: 9rem;
            font-weight: 550;
            color: rgb(0, 0, 0);
          }
          h2 {
            position: absolute;
            font-size: 9rem;
            font-weight: 550;
            color: rgb(0, 0, 0);
            left: 10%;
          }
          .deschome {
            max-width: 60ch;
          }
          .mediassocials {
            display: flex;
            align-items: center;
            gap: 15px;

            position: absolute;
            bottom: 0;
            left: 0;
            a {
                color: #000;
                font-weight: 500;
                font-style: italic;
            }
          }
    }
    .daniel {
        width: 40%;
    }
}


@keyframes blink {
    from, to {
        color: transparent
    }
    50% {
        color: black;
    }
}