@import '../abstract/variables';

.menubg {
    display: none;
    gap: 200px;
    height: 100vh;
    width: 100vw;
    background-color: black;
    overflow-y: auto; 
    
    position: absolute;
    top: 0;
    color: #fff;
    padding: 15rem 9rem 0rem 9rem;
    .contact {
        .namecelemail {
            display: flex;
            flex-direction: column;
            gap: 10px;
            h1 {
                font-size: 1.3rem;
                font-style: italic;
            }
            a {
                color: #fff;
            }
            .iconlink {
                display: flex;
                align-items: center;
                gap: 15px;
            }
        }
        .socialmedia {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 15rem;
            .underline {
                --line: #cfcfcf;
                --color: #ffffff;
                text-decoration: none;
                color: var(--color);
                position: relative;
                span {
                    background-image: linear-gradient(0deg, var(--line) 0%, var(--line) 100%);
                    background-position: 100% 100%;
                    background-repeat: no-repeat;
                    background-size: var(--background-size, 100%) 1px;
                    transition: background-size .2s linear var(--background-delay, .15s);
                    font-size: 16px;
                    line-height: 20px;
                    transform: translateZ(0);
                }
                svg {
                    vertical-align: top;
                    display: inline;
                    line-height: 1;
                    width: 13px;
                    height: 20px;
                    position: relative;
                    left: -2px;
                    fill: none;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 1px;
                    stroke: var(--line);
                    stroke-dasharray: 7.95 30;
                    stroke-dashoffset: var(--stroke-dashoffset, 46);
                    transition: stroke-dashoffset var(--stroke-duration, .15s) var(--stroke-easing, linear) var(--stroke-delay, 0s);
                }
                &:hover {
                    --background-size: 0%;
                    --background-delay: 0s;
                    --stroke-dashoffset: 26;
                    --stroke-duration: .3s;
                    --stroke-easing: cubic-bezier(.3, 1.5, .5, 1);
                    --stroke-delay: .195s;
                }
            }
        }
    }
    .info {
        display: flex;
        flex-direction: column;
        h3, h2 {
            font-family: 'Montserrat', sans-serif;
            font-size: 7rem;
            color: #6b6b6b;
            overflow: hidden;
            position: relative;
            display: inline-block;
            cursor: pointer;
            &::before, &::after {
                content: '';
                position: absolute;
                width: 100%;
                left: 0;
            }
            &::after {
                content: attr(data-replace);
                height: 100%;
                top: 0;
                transform-origin: 50% 100%;
                transform: translate3d(0, 200%, 0);
                transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
                color: #f7f7f7;
            }
            &:hover::before {
                transform-origin: 50% 50%;
                transform: scaleY(0);
            }
            &:hover::after {
                transform: translate3d(0, 0, 0);
            }
            span {
                display: inline-block;
                transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
                color: gray;
            }
            &:hover span {
                transform: translate3d(0, 100%, 0);
            }
        }
        p {
            margin-left: 15rem;
            &:last-child {
                margin-top: 2rem;
            }
        }
    }
    .danielimg {
        height: 30%;
        border-radius: 50%;
        animation: AnimationText 2s forwards;
    }
}

.menubg.active {
    display: flex;
    animation: ShowingBg .7s ease-in-out;   
    position: fixed;
    z-index: 700;
    .contact {
        animation: AnimationText 2s forwards;
    }
    .info {
        animation: AnimationText 2s forwards;
    }
}

.menubg.closed {
    display: flex;
    animation: ClosingBg 1.2s forwards;
    z-index: 700;
}

@keyframes ShowingBg {
    from {
        transform: translate3d(0, -150%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes ClosingBg {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, -150%, 0);
    }
}

@keyframes AnimationText {
    from {
        transform: translate3d(0, -150%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@media (max-width: 1900px) {
    .menubg.active {
        padding: 10rem 1rem;
        gap: 50px;
        position: absolute;
        flex-wrap: wrap;
        .contact {
            .socialmedia {
                margin-top: 3rem;
            }
        }
        .info {
            h3, h2 {
                font-size: 3.5rem;
            }
            h2 {
                margin-bottom: 1rem;
            }
            p {
                margin-left: 4rem;
            }
        }
    }
}

@media (max-width: 1100px) {
    .menubg.active {
        flex-wrap: wrap;
    }
    .danielimg {
        margin-left: 1.5rem;
    }
}

