@import '../abstract/variables';

.menubg {
    display: none;
    gap: 200px;
    height: 100vh;
    width: 100vw;
    background-color: black;

    position: absolute;
    top: 0;
    color: #fff;
    padding: 15rem 9rem 0rem 9rem;
    .contact {
        .namecelemail {
            display: flex;
            flex-direction: column;
            gap: 10px;
            h1 {
                font-size: 1.3rem;
                font-style: italic;
            }
            a {
                color: #fff;
            }
        }
        .socialmedia {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 15rem;
            a {
                color: #fff;
            }
        }
    }
    .info {
        h2 {
            font-size: 10rem;
        }
        p {
            margin-left: 15rem;
            &:last-child {
                margin-top: 2rem;
            }
        }
    }
}

.menubg.active {
    display: flex;
    animation: ShowingBg .7s ease-in-out;
}

.menubg.closed {
    display: flex;
    animation: ClosingBg 1.2s forwards;
}

@keyframes ShowingBg {
    from {
        transform: translate3d(0, -150%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes ClosingBg {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, -150%, 0);
    }
}