* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  scroll-behavior: smooth;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
}

.jstabcontent {
  display: none;
}

.jstabcontent.ativo {
  display: block;
  animation: animationSection 1s forwards;
  margin-left: 150px;
}

@keyframes animationSection {
  from {
    transform: translate3d(-80px, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.sidebar {
  position: fixed;
  background: rgb(255, 255, 255);
  border-right: 1px solid black;
  width: 100px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
.sidebar li {
  transform: rotate(-90deg);
}
.sidebar li a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  color: #000;
}
.sidebar li a:visited {
  color: #000;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 2rem;
}
.home .contentphototext {
  display: flex;
  justify-content: space-between;
}
.home .contentphototext .namework {
  text-align: right;
  display: flex;
  flex-direction: column;
}
.home .contentphototext .namework h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 7.5rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}
.home .contentphototext .namework .work p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
}
.home .contentphototext .photographer {
  border-radius: 50%;
}

.container {
  width: 100%;
  min-height: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 10px;
}
.container .image-container {
  height: 600px;
  width: 100%;
  overflow: hidden;
}
.container .image-container:nth-child(even) {
  height: 500px;
}
.container .image-container .image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  animation: scale-out 0.5s ease-out 1 forwards;
}
.container .image-container .image.image-one {
  background-image: url(../img/photo1.jpg);
}
.container .image-container .image.image-two {
  background-image: url(../img/photo2.jpg);
}
.container .image-container .image.image-three {
  background-image: url(../img/photo3.jpg);
}
.container .image-container .image.image-four {
  background-image: url(../img/photo4.jpg);
}
.container .image-container .image.image-five {
  background-image: url(../img/photo5.jpg);
}

.sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 2rem;
}
.sobre img {
  width: 600px;
}
.sobre .textsobre h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 12rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}
.sobre .textsobre p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  max-width: 70ch;
}
.sobre .textsobre .desc2 {
  margin: 1rem 0rem 6rem 0rem;
}
.sobre .textsobre .rowdesc {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.sobre .textsobre .rowdesc p span {
  font-size: 7rem;
}
.sobre .textsobre .rowdesc div a {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0 15px;
}
.sobre .textsobre .rowdesc div a:visited {
  color: #000;
}/*# sourceMappingURL=styles.css.map */