* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  scroll-behavior: smooth;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
}

.jstabcontent {
  display: none;
}

.jstabcontent.ativo {
  display: block;
  animation: animationSection 1s forwards;
  margin-left: 150px;
}

@media (max-width: 1024px) {
  .jstabcontent.ativo {
    margin-left: 0px;
  }
}
@keyframes animationSection {
  from {
    transform: translate3d(-80px, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes animationHamburger {
  from {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes animationName {
  from {
    transform: translate3d(500px, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes showingDescription {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes animationPhotoLeft {
  from {
    transform: translate3d(-350px, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes animationPhotoMiddle {
  from {
    transform: translate3d(0, 350px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes animationPhotoRight {
  from {
    transform: translate3d(350px, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
header {
  display: none;
}
header .danielheader {
  width: 50px;
  border-radius: 100%;
}
header .menucontactheader {
  display: flex;
  align-items: center;
}
header .menucontactheader .hamburger {
  display: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  header .menucontactheader .hamburger {
    display: block;
  }
}
header .menucontactheader .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3 ease-in-out;
  background-color: black;
}

@media (max-width: 1024px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
  }
  header .hamburger.active {
    position: absolute;
    transition: 0.4s;
    right: 16px;
    z-index: 888;
  }
  header .hamburger.active .bar:nth-child(2) {
    opacity: 0;
    background-color: #ffffff;
    transition: 0.4s ease-in-out;
  }
  header .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: #ffffff;
    transition: 0.4s ease-in-out;
  }
  header .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: #ffffff;
    transition: 0.4s ease-in-out;
  }
}
.menu {
  display: none;
}

@media (max-width: 1024px) {
  .menu.active {
    display: block;
    position: absolute;
    z-index: 300;
    background-color: black;
    height: 100vh;
    width: 100%;
    animation: animationHamburger 0.6s forwards;
    bottom: 0;
    position: absolute;
    padding: 2rem 3rem;
  }
  .menu.active .navmenu ul li a {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    color: #fff;
  }
}
.sidebar {
  position: fixed;
  background: rgb(255, 255, 255);
  border-right: 1px solid black;
  width: 100px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
.sidebar li {
  transform: rotate(-90deg);
}
.sidebar li a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  color: #000;
}
.sidebar li a:visited {
  color: #000;
}

@media (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}
.home {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 2rem;
}
.home .contentphototext {
  display: flex;
  justify-content: space-between;
}
.home .contentphototext .namework {
  text-align: right;
  display: flex;
  flex-direction: column;
}
.home .contentphototext .namework h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 7.5rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  animation: animationName 1.3s forwards;
}
.home .contentphototext .namework h1 span {
  animation: animationName 2s forwards;
}
.home .contentphototext .namework .work p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
  animation: showingDescription 2s forwards;
}
.home .contentphototext .photographer {
  border-radius: 50%;
}

@media (max-width: 1024px) {
  .home {
    padding: 3rem 1.4rem;
  }
  .home .contentphototext {
    flex-direction: row;
  }
  .home .contentphototext .namework {
    text-align: left;
    flex-direction: column;
  }
  .home .contentphototext .namework h1 {
    font-size: 5rem;
  }
  .home .contentphototext .photographer {
    display: none;
  }
}
.container {
  width: 100%;
  min-height: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 10px;
}
.container .image-container {
  height: 600px;
  width: 100%;
  overflow: hidden;
}
.container .image-container:nth-child(even) {
  height: 500px;
}
.container .image-container .image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  animation: scale-out 0.5s ease-out 1 forwards;
}
.container .image-container .image.image-one {
  background-image: url(../img/photo1.jpg);
  animation: animationPhotoLeft 1.5s forwards;
}
.container .image-container .image.image-two {
  background-image: url(../img/photo2.jpg);
  animation: animationPhotoLeft 1s forwards;
}
.container .image-container .image.image-three {
  background-image: url(../img/photo3.jpg);
  animation: animationPhotoMiddle 1s forwards;
}
.container .image-container .image.image-four {
  background-image: url(../img/photo4.jpg);
  animation: animationPhotoRight 1.5s;
}
.container .image-container .image.image-five {
  background-image: url(../img/photo5.jpg);
  animation: animationPhotoRight 1s;
}

@media (max-width: 1024px) {
  .container {
    min-height: 200px;
    flex-direction: column;
    padding: 1rem;
  }
}
.sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 2rem;
}
.sobre img {
  width: 600px;
}
.sobre .textsobre h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 12rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
  animation: animationName 1.3s forwards;
}
.sobre .textsobre h1 span {
  animation: animationName 2s forwards;
}
.sobre .textsobre p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  max-width: 70ch;
}
.sobre .textsobre .desc2 {
  margin: 1rem 0rem 6rem 0rem;
}
.sobre .textsobre .rowdesc {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.sobre .textsobre .rowdesc p span {
  font-size: 7rem;
}
.sobre .textsobre .rowdesc div a {
  color: #000000;
  margin: 0 20px;
  padding: 10px 20px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  overflow: hidden;
  display: inline-block;
  transition: 0.3s;
}
.sobre .textsobre .rowdesc div a span::before {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-top: 2px solid rgb(48, 48, 48);
  border-left: 2px solid rgb(48, 48, 48);
  transition: 0.3s;
  opacity: 0;
}
.sobre .textsobre .rowdesc div a span::after {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-right: 2px solid rgb(48, 48, 48);
  border-bottom: 2px solid rgb(48, 48, 48);
  transition: 0.3s;
  opacity: 0;
}
.sobre .textsobre .rowdesc div a::before {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  border-right: 2px solid rgb(48, 48, 48);
  border-top: 2px solid rgb(48, 48, 48);
  transition: 0.3s;
  opacity: 0;
}
.sobre .textsobre .rowdesc div a::after {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-left: 2px solid rgb(48, 48, 48);
  border-bottom: 2px solid rgb(48, 48, 48);
  transition: 0.3s;
  opacity: 0;
}
.sobre .textsobre .rowdesc div a:hover {
  color: rgb(48, 48, 48);
}
.sobre .textsobre .rowdesc div a:hover::before {
  opacity: 1;
  right: 5px;
  top: 5px;
}
.sobre .textsobre .rowdesc div a:hover::after {
  opacity: 1;
  left: 5px;
  bottom: 5px;
}
.sobre .textsobre .rowdesc div a:hover span::before {
  opacity: 1;
  left: 5px;
  top: 5px;
}
.sobre .textsobre .rowdesc div a:hover span::after {
  opacity: 1;
  right: 5px;
  bottom: 5px;
}/*# sourceMappingURL=styles.css.map */